body {
    background-color: #0a0a23;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
}

#controls, #stats {
    border: 1px solid #0a0a23;
    color: #0a0a23;
    padding: 5px;
}

#monsterStats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
    display: none;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
}

#animations {
    width: 1200px;
    height: 650px;
    color: aliceblue;
    border: 2px solid white;
    position: relative;
    
}

#town {
    background-image: url(../images/village.webp); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#store {
    background-image: url(../images/store.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

#cave {
    background-image: url(../images/cave.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}
#seller {
    width: 220px;
    position: absolute;
    right: 130px;
    bottom: 5px;
}

#items {
    position: absolute;
    z-index: 6;
    width: 80px;
    left: 420px;
    top: 250px;
    /* transition: all;
    transform: translateY(-25%); */
}

/* #knight-store {
    position: absolute;
    width:  300px;
    left: 500px;
    top: 300px;
} */

#img-test {
    position: absolute;
    z-index: 5;
    width: 300px;
    left: 300px;
    top: 280px;
}

#monster-img {
    position: absolute;
    z-index: 5;
    width: 280px;
    right: 150px;
    top: 280px;
}

#dragon-room {
    background-image: url(../images/volcan1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

#dragon-img {
    width: 650px;
    position: absolute;
    right: 5px;
    top: 30px;
    
}

#blood {
    position: absolute;
    z-index: 4;
    width: 320px;
    left: 320px;
    top: 400px;
    display: none;
}

#damage-on-monster {
    color: yellow;
    position: absolute;
    z-index: 6;
    right: 300px;
    top: 200px;
    font-size: 40px;
}

#damage-of-monster {
    color: red;
    position: absolute;
    z-index: 6;
    left: 450px;
    top: 200px;
    font-size: 40px;
}

#you-die {
    width: 500px;
    opacity: 0;
    display: none;
    position: absolute;
    z-index: 7;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#fireball {
    width: 300px;
    position: absolute;
    z-index: 8;
    right: 370px;
    top: 150px;
    opacity: 0;
    /* display: none; */
}